 <h2 id="2"><%= t('.title2')%></h2>
    <h3 id="2.1"><%= t('.title21')%></h3>
    <p><%= t('.p1')%></p>


    <p><%= t('.p2')%></p> 
    <p><%= t('.p3')%></p>
    <p><%= t('.p4')%></p>

    <h3 id="2.2"><%= t('.title22')%></h3>
    <p><%= t('.p5_html')%></p>
    <h4 id="2.2.1"><%= t('.title221')%></h4>
    <p><%= t('.p6_html')%></p>
    <h4 id="2.2.2"><%= t('.title222')%></h4>
    <p><%= t('.p7_html')%></p>
    <p><%= t('.p8_html')%></p>

    <h4 id="2.2.3"><%= t('.title223')%></h4>
    <p><%= t('.p9_html')%></p>
    <p><%= t('.p10_html')%></p>
    <h4 id="2.2.4"><%= t('.title224')%></h4>
    <p><%= t('.p11_html')%></p>
