<div class="col-md-4" style="float:left;">
<section class="ac-container">
	<div>
		<input id="ac-1" name="accordion-1" type="checkbox"/>
		<a href="<%= site1_path%>"><label for="ac-1">1. Einführung</label></a>

	</div>
	<div>
		<input id="ac-2" name="accordion-1" type="checkbox"  />
		<a href="<%= site2_path%>"><label for="ac-2">2. Grundlagen der Rechnungslegung: möglichst zuverlässige Beurteilung der Vermögens- und Ertragslage</label></a>

	</div>
		<div>
		<input id="ac-3" name="accordion-1" type="checkbox"  />
		<a href="<%= site3_path%>"><label for="ac-3">3. Rechnungslegungsvorschriften: Obligationenrecht und anerkannte Standards der Rechnungslegung, Unterschiede und Gemeinsamkeiten</label></a>

	</div>
		<div>
		<input id="ac-4" name="accordion-1" type="checkbox"  />
		<a href="<%= site4_path%>"><label for="ac-4">4. Eignung der Rechnungslegungsvorschriften als Grundlage für Führungsentscheide im Unternehmen ?</label></a>

	</div>
		<div>
		<input id="ac-5" name="accordion-1" type="checkbox"  />
		<a href="<%= site5_path%>"><label for="ac-5">5. Stand der eigenen Forschung</label></a>
	</div>
		<div>
		<input id="ac-6" name="accordion-1" type="checkbox"  />
		<a href="<%= site6_path%>"><label for="ac-6">6. Übersicht über die Teilprojekte</label></a>
	</div>
		<div>
		<input id="ac-7" name="accordion-1" type="checkbox"  />
		<a href="<%= site7_path%>"><label for="ac-7">7. Einfluss der IFRS auf die handelsrechtlichen Rechnungslegungsvorschriften</label></a>

	</div>
	<div>
		<input id="ac-8" name="accordion-1" type="checkbox"  />
		<a href="<%= site8_path%>"><label for="ac-8">8. Rechnungslegung nach IFRS, „Dual Standard Rechnungslegung“</label></a>

	</div>
		<div>
		<input id="ac-9" name="accordion-1" type="checkbox"  />
		<a href="<%= site9_path%>"><label for="ac-9">9. Einfluss der IFRS auf die finanziellen Führungspflichten des Verwaltungsrats</label></a>

	</div>
		<div>
		<input id="ac-10" name="accordion-1" type="checkbox"  />
		<a href="<%= site10_path%>"><label for="ac-10">10. Zusammenarbeit unter den Dissertanten und mit den Kooperationspartnern</label></a>

	</div>
		<div>
		<input id="ac-11" name="accordion-1" type="checkbox"  />
		<a href="<%= site11_path%>"><label for="ac-11">11. Wissenschaftliche Bedeutsamkeit der Forschungsarbeit</label></a>

	</div>
		<div>
		<input id="ac-12" name="accordion-1" type="checkbox"  />
		<a href="<%= site12_path%>"><label for="ac-12">12. Ausserwissenschaftliche (praktische) Bedeutsamkeit</label></a>
	</div>
</section>
</div>